<html>
<head>
	<title><%=user.username%>'s Profile</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body class="homepage">
	<header class="header">
		<nav class="authNav">
			<ul>
				<li class="logout"><a href="/logout">Log Out</a></li>
				<li>|</li>
			    <li class="profileName"><%=user.username%></li>
			    <li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
			</ul>
		</nav>
	</header>
	<main class="homeContent">
		<div class="pageTitle">
			<h1>Profile</h1>
		</div>
		<nav class="mainNav profileNav">
			<ul>
			    <li><a href="/">Home</a></li>
			    <li><a href="/learn">Learn</a></li>
			    <li><a href="/create">Create</a></li>
			</ul>
		</nav>
		<section >
		</section>
		<section class="profileFlex">
			<section class="profileSection">
				<div class="progressDiv">
					<h2>Lesson Progress</h2>
					<p>Lessons Completed: <%=user.lessonsCompleted%></p>
					<h2>Recent Songs</h2>
					<ul class="userSongs">
						<% if(user.songs.length === 0) { %>
							<li>No Songs</li>
						<%} else { %>
					    	<li>Number of songs: <%=user.songs.length%></li><br>
							<% user.songs.forEach(function(song) { %>
								<li><%=song.songTitle%></li>
							<% }) %>
					    <% } %>
					</ul>
				</div>
			</section>
		</section>
	</main>
	<footer class="site-footer">
		<p>&copy; Copyright 2015</p>
	</footer>
</body>
</html>